* {

    margin: 0%;
    padding: 0%;
    background-color: #ffffff;

}

.textbox {

    color: #13161e;
    margin-top: 5%;
    margin-left: 0%;
    text-align: center;
    font-family: sans-serif;

}

h1 {

    font-size: 48px; 
    margin-bottom: 2%;

}

h2 {

    font-size: 32px;

}

.links {

    background-color: #ffffff;
    font-size: 18px;
    margin-top: 35%;
    margin-left: 31.5%;
    font-family: sans-serif;
    
}

.links .link1 p a {

    float: left;
    text-decoration: none;
    color: #1877f2;
    padding-right: 10px;
    font-weight: bold;

}

.links .link2 p a {

    float: left;
    text-decoration: none;
    color: #1877f2;
    font-weight: bold;

}

.links .link3 p a {

    float: left;
    text-decoration: none;
    color: #1877f2;
    padding-left: 10px;
    font-weight: bold;

}

.links .dot1 {

    background-color: none;
    color: #b3b4b6;
    border-radius: 50%;
    height: 0px; 
    width: 0px;
    margin-top: -10%;
    margin-left: -17.60%;
    display: inline-block;

}

.links .dot2 {

    background-color: none;
    color: #b3b4b6;
    border-radius: 50%;
    height: 0px; 
    width: 0px;
    margin-top: -10%;
    margin-left: -15.35%;
    display: inline-block;

}
